.App {
  text-align: center;
  margin-top: 50px;
}

.avatar {
  border: 3px transparent rgba(255, 255, 255, 0);
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

.avatar-initial {
  border: 1px solid rgba(255, 255, 255, 0);
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

.avatar-initial:hover {
  border: 1px solid rgb(155, 160, 163);
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

.avatar-active {
  border: 3px solid rgb(122, 161, 178);
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin: -0.2em 0 0 -0.2em;
}

.circle {
  width: 60px;
  height: 60px;
  position: relative;
  border: 3px solid rgba(255,255,255,0);
  border-radius: 50%;
}

.circle:hover .avatar{
  border: 3px solid rgb(122, 161, 178);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  opacity: 0.8;
  margin: -0.2em 0 0 -0.2em;
}

.circle:hover .overlay{
  /*border: 3px solid rgb(122, 161, 178);*/
  border-radius: 50%;
  width: 60px;
  height: 60px;
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  /*margin: 0.2em 0 0 0.2em;*/
}

.loader {
  border-top: 3px solid rgb(122, 161, 178);
  border-left: 3px solid rgb(122, 161, 178);
  border-bottom: 3px solid rgb(122, 161, 178);
  border-right: 3px solid rgb(255,255,255);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  position:absolute;
  margin: -0.2em 0 0 -0.2em;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.circle-border {
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  display: inline-block;
  /*border: 0px solid rgb(155, 160, 163);*/
  border: 3px solid rgba(255, 255, 255, 0);
  /*z-index: 99;*/
}

.circle-border:hover {
  border: 3px solid rgb(155, 160, 163);
}

.circle-border-others {
  border-radius: 50%;
  display: inline-block;
  border: 3px solid rgba(255, 255, 255, 0);
  height: 60px;
  width: 60px;
}

.circle-border-others:hover {
  border: 3px solid rgb(155, 160, 163);
  /*filter: blur(1);*/
}

.title {
  font-family: 'Source Sans Pro';
  color: rgb(249, 249, 249);
  size: 16px;
  margin: 14px 0;
  width: 100%;
}

.arrow_box {
	position: relative;
  background: rgb(44, 48, 51);
	border: 15px solid rgb(220, 220, 220);
  opacity: 0.9;
  border-radius: 2px;
  width: 320px;
  margin: 0 auto;
  margin-left: -35px;
  top: -5px;
}

.arrow_box:before {
  border: solid rgb(44, 48, 51);
}

.arrow_box:after {
  box-shadow: 10px 10px 5px #888;
}

.arrow_box:after, .arrow_box:before {
	bottom: 100%;
	left: 50%;
	content: "";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: #88b7d5;
	border-width: 20px;
	margin-left: -20px;
}
.arrow_box:before {
	border-color: rgba(194, 225, 245, 0);
	border-bottom-color: rgb(44, 48, 51);
	border-width: 8px;
	margin-left: -8px;
}

ul {
    list-style-type: none;
    overflow: hidden;
    text-align: left;
    border: 1px thin;
    margin-left: auto;
    margin-right: auto;
    margin-left: -27px;
    /*background-color: #333333;*/
}

li {
    float: left;
    margin: 0 4px 4px;
}
